.dateTrabajos{
    width: 9rem;
    padding: 0;
    box-sizing: border-box;
    margin-left: 1%;
}
.dateTrabajos2{
    width: 9rem;
    margin-left: 1%;
    padding: 0% ;
}
.checkTrabajos{
    margin-left: 0%;
}
.labelTrabajos{
    width: 3rem;
}
.labelTrabajos2{
    margin-left: 1%;
    width: 9rem;
}
.cont-Desde{
    margin-left: 1rem;
}
.rowTrabajos{
    
}
@media screen and (max-width : 1366px){
    .cont-Desde{
        margin: 0;
        padding: 0;
        margin-left: 0.5rem;
    }
}
@media screen and (max-width: 1280px){
    .dateTrabajos2{
        /* width: 50%; */
    }
}