.selectMenu{
    height: 35rem;    
}
.extendButtons{
    position: absolute;
    width: 20vw;
    margin: 0;
    padding: 0;
}
.form-select{
    height: 30rem;
}
/* fieldset{
    background-color: #96eca031;
}
fieldset input{
    background-color: #cbeccf31;
} */